name: CD - Create Infrastructure

on:
  push:
    branches:
      - main

jobs:
  infra:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform
          terraform init

      - name: Terraform Plan
        run: |
          cd terraform
          terraform plan \
            -var="vpc_id=vpc-0b4d6262d67525f8b" \
            -var='subnet_ids=["subnet-0c2049076b8e2afa7","subnet-0e983ddf13963dc33"]'

      - name: Terraform Apply
        run: |
          cd terraform
          terraform apply -auto-approve \
            -var="vpc_id=vpc-0b4d6262d67525f8b" \
            -var='subnet_ids=["subnet-0c2049076b8e2afa7","subnet-0e983ddf13963dc33"]'